:root {
  --prime: #0c0c0c;
  --second: #890005;
  --hover: #670003;
  --disabled: #2c0001;
  --text-prime: #ffffff;
  --text-second: #ffffff;
  --text-hover: #ffffff;
  --text-disabled: #ffffff;
}

a {
  text-decoration: none;
  text-align: center;
  background-color: var(--second);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  margin: 0.15rem;
  display: flex;
  color: var(--text-prime);
  justify-content: center;
}

a:hover {
  background-color: var(--hover);
  color: var(--text-hover);
}

button {
  background-color: var(--second);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  margin: 0.15rem;
  display: flex;
  color: var(--text-second);
  justify-content: center;
}

button:hover {
  background-color: var(--hover);
  color: var(--text-hover);
}

button:disabled {
  background-color: var(--disabled);
  color: var(--text-disabled);
}

button:disabled:hover {
  background-color: var(--disabled);
  color: var(--text-disabled);
}

button:enabled {
  cursor: pointer;
}

svg {
  width: 1rem;
  fill: var(--text-prime);
}